html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
  font: 14px "微软雅黑";
  /*禁用文字复制*/
  user-select: none;
}
a,
span {
  display: inline-block;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
li {
  list-style: none;
}
.commonTitle {
  color: white;
  font-size: 80px;
  line-height: 0.8;
  font-weight: bold;
  letter-spacing: -5px;
}
#wrap {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
#wrap #header {
  width: 980px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#wrap #header .logo {
  width: 200px;
  height: 60px;
}
#wrap #header .logo img {
  width: 100%;
  height: 100%;
}
#wrap #header .music {
  width: 14px;
  height: 14px;
  background: url("../images/musicoff.gif") no-repeat;
  position: relative;
  left: -195px;
  top: 40px;
}
#wrap #header .nav {
  width: 360px;
  height: 60px;
  display: flex;
}
#wrap #header .nav .active {
  background-color: #fc0;
}
#wrap #header .nav li {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: white;
}
#wrap #header .nav li:hover {
  background-color: #fc0;
}
#content {
  width: 100%;
  overflow: hidden;
}
#content .list {
  width: 100%;
  position: relative;
  transition: 1s top;
}
#content .list > li {
  background-color: pink;
  position: relative;
  overflow: hidden;
}
#content .list .one {
  background: url("../images/s1.jpg") center center;
  text-align: center;
  height: 100%;
}
#content .list .one .commonTitle {
  padding: 40px 0px 0px 0px;
}
#content .list .one .one1 {
  transition: 1s transform;
}
#content .list .one .one2 {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  transition: 1s transform;
}
#content .list .one .one3 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 70px;
  width: 600px;
  height: 400px;
  margin: 100px auto 0px;
  transition: 1s opacity ,1s transform;
  /*从左往右 leftHide  rightShow*/
  /*从右外左 leftShow rightHide*/
}
#content .list .one .one3 img {
  left: 0px;
  position: absolute;
  visibility: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
}
#content .list .one .one3 img.active {
  visibility: visible;
}
#content .list .one .one3 > img.leftHide {
  /*最终不可见*/
  visibility: hidden;
  animation: 1s leftHide 1 linear;
}
#content .list .one .one3 > img.rightShow {
  /*最终可见*/
  visibility: visible;
  animation: 1s rightShow 1 linear;
}
#content .list .one .one3 > img.leftShow {
  /*最终可见*/
  visibility: visible;
  animation: 1s leftShow 1 linear;
}
#content .list .one .one3 > img.rightHide {
  /*最终不可见*/
  visibility: hidden !important;
  animation: 1s rightHide 1 linear;
}
#content .list .one .one4 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
#content .list .one .one4 .nav {
  width: 96px;
  height: 100%;
  display: flex;
  transition: 1s transform;
}
#content .list .one .one4 .nav li {
  width: 14px;
  height: 10px;
  margin-left: 5px;
  border: 2px solid black;
  border-radius: 50%;
  transition: 1s background-color;
}
#content .list .one .one4 .nav .active {
  background-color: black;
}
#content .list .two {
  background: url("../images/s2.jpg") center center;
}
#content .list .two .two1 > .two1_list {
  width: 837px;
  height: 437px;
  display: flex;
  position: absolute;
  margin: 50px 10px 0px 50px;
}
#content .list .two .two1 > .two1_list li {
  width: 259px;
  height: 310px !important;
  margin-left: 20px;
  text-align: center;
  transition: 1s transform;
}
#content .list .two .two1 > .two1_list li img {
  width: 100%;
  height: 100%;
}
#content .list .two .two1 > .two1_list li span {
  margin-top: 30px;
  text-align: center;
}
#content .list .two .two2 {
  width: 180px;
  position: absolute;
  top: 50px;
  right: 50px;
  border-right: 2px solid;
  padding-right: 10px;
  text-align: right;
  z-index: 2;
  transition: 1s transform;
}
#content .list .two .two2 h1 {
  font-size: 34px;
  color: #333;
  font-weight: 100;
  padding: 0px 0 20px 0px;
}
#content .list .two .two2 span {
  padding: 5px;
}
#content .list .two .two3 {
  width: 300px;
  height: 400px;
  position: absolute;
  right: 50px;
  bottom: 0px;
}
#content .list .two .two3 img {
  width: 100%;
  height: 100%;
}
#content .list .two .two4 {
  width: 500px;
  height: 336px;
  position: absolute;
  bottom: 0px;
  right: 300px;
  z-index: 1;
  animation: 15s boat infinite;
}
#content .list .two .two4 img{
  width: 100%;
}
#content .list .three {
  background: url("../images/s3.jpg") center center;
}
#content .list .three .three1 > .three1_list {
  width: 837px;
  height: 437px;
  display: flex;
  position: absolute;
  margin-top: 50px;
  right: 40px;
}
#content .list .three .three1 > .three1_list li {
  margin-left: 20px;
  width: 259px;
  height: 310px !important;
  text-align: center;
  transition: 1s transform;
}
#content .list .three .three1 > .three1_list li img {
  width: 100%;
  height: 100%;
}
#content .list .three .three1 > .three1_list li span {
  margin-top: 30px;
  text-align: center;
}
#content .list .three .three1 #showText_3 {
  position: absolute;
  bottom: 40px;
  right: 80px;
  width: 700px;
  text-indent: 2em;
  font-size: 20px;
  color: #B9BCB4;
}
#content .list .three .three2 {
  width: 250px;
  position: absolute;
  top: 50px;
  left: 50px;
  border-left: 2px solid;
  padding-left: 10px;
  text-align: right;
  z-index: 2;
  transition: 1s transform;
}
#content .list .three .three2 h1 {
  font-size: 34px;
  color: #333;
  font-weight: 100;
  padding: 0px 0 20px 0px;
}
#content .list .three .three2 span {
  padding: 5px;
}
#content .list .three .three3 {
  width: 500px;
  height: 470px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
#content .list .three .three3 img {
  width: 100%;
  height: 100%;
}
#content .list .four {
  background: url("../images/s4.jpg") center center;
}
#content .list .four .four1 > .four1_list {
  width: 837px;
  height: 437px;
  display: flex;
  position: absolute;
  margin: 50px 10px 0px 50px;
}
#content .list .four .four1 > .four1_list li {
  width: 259px;
  height: 310px !important;
  margin-left: 20px;
  text-align: center;
  transition: 1s transform, 1s opacity;
}
#content .list .four .four1 > .four1_list li img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
#content .list .four .four1 > .four1_list li span {
  margin-top: 30px;
  text-align: center;
  display: inline-block;
}
#content .list .four .four1 #showText_4 {
  position: absolute;
  bottom: 40px;
  left: 130px;
  width: 700px;
  text-indent: 2em;
  font-size: 20px;
  color: #b68f75;
}
#content .list .four .four2 {
  width: 180px;
  position: absolute;
  top: 50px;
  right: 50px;
  border-right: 2px solid;
  padding-right: 10px;
  text-align: right;
  z-index: 2;
  transition: 1s opacity;
}
#content .list .four .four2 h1 {
  font-size: 34px;
  color: #333;
  font-weight: 100;
  padding: 0px 0 20px 0px;
}
#content .list .four .four2 span {
  padding: 5px;
}
#content .list .four .four3 {
  width: 417px;
  height: 485px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#content .list .four .four3 img{
  width: 100%;
}
#content .list .five {
  background: url("../images/s5.jpg") center center;
}
#content .list .five .five1 > .five1_list {
  width: 837px;
  height: 437px;
  display: flex;
  position: absolute;
  margin-top: 50px;
  right: 40px;
}
#content .list .five .five1 > .five1_list li {
  width: 259px;
  height: 310px !important;
  margin-left: 20px;
  text-align: center;
  transition: 1s transform;
}
#content .list .five .five1 > .five1_list li img {
  width: 100%;
  height: 100%;
}
#content .list .five .five1 > .five1_list li span {
  margin-top: 30px;
  text-align: center;
}
#content .list .five .five1 #showText_5 {
  position: absolute;
  bottom: 40px;
  right: 80px;
  width: 700px;
  text-indent: 2em;
  font-size: 20px;
  color: #B9BCB4;
}
#content .list .five .five2 {
  width: 250px;
  position: absolute;
  top: 50px;
  left: 50px;
  border-left: 2px solid;
  padding-left: 10px;
  text-align: right;
  z-index: 2;
  transition: 1s transform;
}
#content .list .five .five2 h1 {
  font-size: 34px;
  color: #333;
  font-weight: 100;
  padding: 0px 0 20px 0px;
}
#content .list .five .five2 span {
  padding: 5px;
}
#content .list .five .five3 {
  width: 417px;
  height: 400px;
  position: absolute;
  left: 52px;
  bottom: 0px;
  box-shadow: 1px 1px 4px #999999;
  border-radius: 10px;
}
#content .list .five .five3 img {
  width: 100%;
  height: 100%;
}
#content .list .six {
  background: url("../images/s2.jpg") center center;
}
#content .list .six .six1 > .six1_list {
  width: 837px;
  height: 437px;
  display: flex;
  position: absolute;
  margin: 50px 10px 0px 50px;
}
#content .list .six .six1 > .six1_list li {
  width: 259px;
  height: 310px !important;
  margin-left: 20px;
  text-align: center;
  box-shadow: 4px 4px 10px rgba(186, 118, 148, 0.6);
  transition: 1s transform;
}
#content .list .six .six1 > .six1_list li img {
  width: 100%;
  height: 100%;
}
#content .list .six .six1 > .six1_list li span {
  margin-top: 30px;
  text-align: center;
}
#content .list .six .six1 #showText_6 {
  position: absolute;
  bottom: 40px;
  left: 130px;
  width: 700px;
  font-size: 20px;
  text-indent: 2em;
  color: #a0a08c;
}
#content .list .six .six2 {
  width: 250px;
  position: absolute;
  top: 50px;
  right: 50px;
  padding-right: 10px;
  border-right: 2px solid;
  text-align: right;
  z-index: 2;
  transition: 1s transform;
}
#content .list .six .six2 h1 {
  font-size: 34px;
  color: #333;
  font-weight: 100;
  padding: 0px 0 20px 0px;
}
#content .list .six .six2 span {
  padding: 5px;
}
#content .list .six .six3 {
  width: 641px;
  height: 325px;
  position: absolute;
  right: -50px;
  bottom: 0px;
}
#content .list .six .six3 img {
  width: 100%;
  height: 100%;
}
#content .list .seven {
  background-image: url('../images/s3.jpg');
}
#content .list .seven .seven1 {
  display: flex;
  position: absolute;
  right: 200px;
  top: 25px;
  flex-direction: column;
  width: 500px;
}
#content .list .seven .seven1 video {
  border-radius: 15px;
}
#content .list .seven .seven1 #showText_7 {
  margin-top: 40px;
  font-size: 20px;
  text-indent: 2em;
  color: #b3adad;
}
#content .list .seven .seven2 {
  width: 250px;
  position: absolute;
  top: 50px;
  left: 50px;
  border-left: 2px solid;
  padding-left: 10px;
  text-align: right;
  z-index: 2;
  transition: 1s transform;
}
#content .list .seven .seven2 h1 {
  font-size: 34px;
  color: #333;
  font-weight: 100;
  padding: 0px 0 20px 0px;
}
#content .list .seven .seven2 span {
  padding: 5px;
}
#content .list .seven .seven3 {
  width: 641px;
  height: 450px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
#content .list .seven .seven3 img {
  width: 100%;
  height: 100%;
}
#content .list .eight {
  background-image: url('../images/s4.jpg');
}
#content .list .eight .eight1 {
  width: 390px;
  position: absolute;
  top: 70px;
  left: 275px;
}
#content .list .eight .eight1 .line {
  width: 9px;
  height: 410px;
  background: url("../images/plus_row.png") no-repeat;
  position: absolute;
  top: -7px;
  left: -5px;
}
#content .list .eight .eight1 .line:nth-of-type(2) {
  left: 121px;
}
#content .list .eight .eight1 .line:nth-of-type(3) {
  left: 250px;
}
#content .list .eight .eight1 .line:nth-of-type(4) {
  left: 380px;
}
#content .list .eight .eight1 .item {
  float: left;
  margin-right: 10px;
  width: 120px;
  height: 132px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
}
#content .list .eight .eight1 .item .backFace {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transition: 1s transform;
}
#content .list .eight .eight1 .item .backFace img {
  display: block;
  margin: 0 auto;
  width: 85%;
  line-height: 132px;
}
#content .list .eight .eight1 .item .face {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: white;
  box-sizing: border-box;
  position: absolute;
  /*设置文字不显示*/
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: 1s transform;
}
#content .list .eight .eight1 .item .face img {
  width: 100%;
}
#content .list .eight .eight1 .item:hover .backFace {
  transform: rotateY(180deg);
}
#content .list .eight .eight1 .item:hover .face {
  transform: rotateY(360deg);
}
#content .list .eight .eight1 p {
  position: absolute;
  bottom: -75px;
  width: 360px;
  font-size: 26px;
  color: #777761;
  text-align: center;
}
#content .list .eight .eight2 #showText_8 {
  position: absolute;
  top: 64px;
  right: 50px;
  width: 450px;
  font-size: 28px;
  color: #777761;
  text-indent: 2em;
}
#content .list .eight .eight3 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  background: url('../images/haishui.gif') no-repeat;
}
#content .list .eight .eight3 img {
  position: absolute;
  top: -270px;
  right: 50px;
  animation: 30s boat infinite;
}
#content .list .nine {
  background: url('../images/s5.jpg');
  /*最外层容器样式*/
}
#content .list .nine .wrap {
  position: absolute;
  top: 150px;
  right: 200px;
  width: 200px;
  height: 200px;
  /*包裹所有容器样式*/
  /*鼠标移入后样式*/
}
#content .list .nine .wrap .cube {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(-80deg);
  animation: rotate 20s infinite;
  /*匀速*/
  animation-timing-function: linear;
  /*定义小正方体样式*/
}
#content .list .nine .wrap .cube div {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0.8;
  transition: all 0.4s;
}
#content .list .nine .wrap .cube div .pic {
  width: 200px;
  height: 200px;
}
#content .list .nine .wrap .cube .out_front {
  transform: rotateY(0deg) translateZ(100px);
}
#content .list .nine .wrap .cube .out_back {
  transform: translateZ(-100px) rotateY(180deg);
}
#content .list .nine .wrap .cube .out_left {
  transform: rotateY(90deg) translateZ(100px);
}
#content .list .nine .wrap .cube .out_right {
  transform: rotateY(-90deg) translateZ(100px);
}
#content .list .nine .wrap .cube .out_top {
  transform: rotateX(90deg) translateZ(100px);
}
#content .list .nine .wrap .cube .out_bottom {
  transform: rotateX(-90deg) translateZ(100px);
}
#content .list .nine .wrap .cube span {
  display: bloack;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 50px;
}
#content .list .nine .wrap .cube .in_pic {
  width: 100px;
  height: 100px;
}
#content .list .nine .wrap .cube .in_front {
  transform: rotateY(0deg) translateZ(50px);
}
#content .list .nine .wrap .cube .in_back {
  transform: translateZ(-50px) rotateY(180deg);
}
#content .list .nine .wrap .cube .in_left {
  transform: rotateY(90deg) translateZ(50px);
}
#content .list .nine .wrap .cube .in_right {
  transform: rotateY(-90deg) translateZ(50px);
}
#content .list .nine .wrap .cube .in_top {
  transform: rotateX(90deg) translateZ(50px);
}
#content .list .nine .wrap .cube .in_bottom {
  transform: rotateX(-90deg) translateZ(50px);
}
#content .list .nine .wrap .cube:hover .out_front {
  transform: rotateY(0deg) translateZ(200px);
}
#content .list .nine .wrap .cube:hover .out_back {
  transform: translateZ(-200px) rotateY(180deg);
}
#content .list .nine .wrap .cube:hover .out_left {
  transform: rotateY(90deg) translateZ(200px);
}
#content .list .nine .wrap .cube:hover .out_right {
  transform: rotateY(-90deg) translateZ(200px);
}
#content .list .nine .wrap .cube:hover .out_top {
  transform: rotateX(90deg) translateZ(200px);
}
#content .list .nine .wrap .cube:hover .out_bottom {
  transform: rotateX(-90deg) translateZ(200px);
}
#content .list .nine .nine2 {
  position: absolute;
  top: 50px;
  left: 265px;
  width: 500px;
}
#content .list .nine .nine2 video {
  border-radius: 15px;
}
#content .list .nine .nine3 {
  position: absolute;
  bottom: 120px;
  width: 100%;
  height: 200px;
}
#content .list .nine .nine3 img {
  width: 100%;
}
#content .list .nine .nine4 #showText_9 {
  position: absolute;
  left: 450px;
  bottom: 85px;
  font-size: 20px;
  width: 600px;
  text-indent: 2em;
  color: #C6C1B2;
}
#content .dot {
  width: 12px;
  position: absolute;
  top: 50%;
  right: 20px;
}
#content .dot li {
  width: 12px;
  height: 12px;
  margin-top: 5px;
  border-radius: 50%;
  border: 2px solid black;
  transition: 1s background-color;
}
#content .dot li a {
  width: 100%;
  height: 100%;
}
#content .dot li:hover {
  background-color: black;
}
#content .dot li.active {
  background-color: black;
}
#content .dot li.active a {
  cursor: default;
}
@keyframes boat {
  0% {
    transform: translateX(0) rotateY(0);
  }
  49% {
    transform: translateX(-500px) rotateY(0deg);
  }
  50% {
    transform: translateX(-500px) rotateY(180deg);
  }
  100% {
    transform: translateX(0) rotateY(180deg);
  }
}
@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
/*设置轮播图动画     从左往右 leftHide  rightShow*/
@keyframes leftHide {
  0% {
    visibility: visible;
  }
  50% {
    /*设置左平移和Y轴旋转加放大*/
    transform: translateX(-40%) rotateY(30deg) scale(0.8);
  }
  100% {
    /*回到原来位置,并设置Z轴以隐藏*/
    transform: translateZ(-200px);
  }
}
@keyframes rightShow {
  0% {
    /*一开始为隐藏，到后面会全部显示*/
    visibility: hidden;
    transform: translateZ(-200px);
  }
  50% {
    transform: translateX(40%) rotateY(-30deg) scale(0.8);
  }
  100% {
    /*回到原来位置*/
  }
}
/*设置轮播图动画     从右外左 leftShow  rightHind*/
@keyframes leftShow {
  0% {
    visibility: hidden;
    transform: translateZ(-200px);
  }
  50% {
    transform: translateX(-40%) rotateY(30deg) scale(0.8);
  }
}
@keyframes rightHide {
  0% {
    visibility: visible;
  }
  50% {
    transform: translateX(40%) rotateY(-30deg) scale(0.8);
  }
  100% {
    transform: translateZ(-200px);
  }
}
